# Esse arquivo contem configurações do Mod Hardtorch que podem ser a mudadas em minetest.conf
# This file contains settings of Hardtorch Mod that can be changed in minetest.conf

# Numero de noites que uma Tocha perdura acesa.
# Number of nights a Torch remains lit.
#hardtorch_torch_nights = 0.1

# Numero de noites que uma porção de Oleo perdura acesa.
# Number of nights a portion of Oil remains lit.
#hardtorch_oil_nights = 1.2

# Luminosidade da Tocha Acesa (limite: 14)
# Light source of Torch Lit (limit: 14)
#hardtorch_torch_light_source = 11

# Luminosidade da Lamparina Acesa (limite: 14)
# Light source of Oil Lamp Lit (limit: 14)
#hardtorch_lamp_light_source = 13

# É necessario acendedor ou fonte de fogo para acender uma tocha.
# Lighter or fire source is needed to light a torch.
#hardtorch_torch_lighter = false

# Tempo fixo (em segundos) que dura uma noite.
# Isso vai ignorar a verdadeira duração da noite no jogo.
# Definir 0 para desabilitar.
# Fixed time (in seconds) that lasts one night.
# This will ignore the true duration of the night in the game.
# Set 0 to disable.
#hardtorch_night_time = 0

# Numero de noites que uma Vela perdura acesa.
# Number of nights a Candle remains lit.
#hardtorch_xdecor_candle_nights = 0.8

# Luminosidade da Vela Acesa (limite: 14)
# Light source of Candle Lit (limit: 14)
#hardtorch_xdecor_candle_light_source = 7
